<nb-card>
	<nb-card-body>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4>{{rotina}}</h4>
				<p>{{classificacao}} > {{rotina}} > {{form.value.id ? 'Edição' : 'Cadastro'}}</p>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<form [formGroup]="form" (submit)="onSubmit()" novalidate>
	<nb-card>
		<nb-card-body class="overflow-visible">
			<div class="row">
				<div class="col-sm-6 form-group" *ngIf="!userLogado">
					<label class="required">Grupo de Usuários:</label>

					<ng-select formControlName="UsuarioGrupoId" [class.form-control-danger]="usuarioGrupoIdIdError.fieldDanger" (change)="errors.UsuarioGrupoId = false">
						<ng-option *ngFor="let opcao of usuarioGrupoOpcoes" [value]="opcao.key">{{opcao.value}}</ng-option>
					</ng-select>

					<field-error #usuarioGrupoIdIdError [submitted]="submitted" label="Grupo de Usuários"
					[control]="form.controls.UsuarioGrupoId" [error]="errors.UsuarioGrupoId"></field-error>
				</div>

				<div class="col-sm-6 form-group">
					<label>Cargo:</label>

					<ng-select formControlName="CargoId" [class.form-control-danger]="cargoIdError.fieldDanger"
						(change)="errors.CargoId = false">
						<ng-option *ngFor="let opcao of cargoOpcoes" [value]="opcao.key">{{opcao.value}}</ng-option>
					</ng-select>

					<field-error #cargoIdError [submitted]="submitted" label="Cargo" [control]="form.controls.CargoId"
						[error]="errors.CargoId"></field-error>
				</div>
			</div>

			<div class="row">

				<div class="col-sm-4 form-group">
					<label class="required">Nome:</label>

					<input type="text" class="form-control" formControlName="Nome" placeholder="Nome"
					[class.form-control-danger]="nomeError.fieldDanger" (change)="errors.Nome = false" />

					<field-error #nomeError [submitted]="submitted" label="Nome"
					[control]="form.controls.Nome" [error]="errors.Nome"></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Telefone:</label>

					<input type="text" class="form-control" formControlName="Telefone" placeholder="Telefone" [brmasker]="{form: form.get('Telefone'), phone: true}"
					[class.form-control-danger]="telefoneError.fieldDanger" (change)="errors.Telefone = false" />

					<field-error #telefoneError [submitted]="submitted" label="Telefone"
					[control]="form.controls.Telefone" [error]="errors.Telefone"></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">E-mail:</label>

					<input type="email" email class="form-control" formControlName="Email" placeholder="E-mail"
					[class.form-control-danger]="emailError.fieldDanger" (change)="errors.Email = false" />

					<field-error #emailError [submitted]="submitted" label="E-mail"
					[control]="form.controls.Email" [error]="errors.Email"></field-error>
				</div>

				<div class="col-sm-4 form-group" *ngIf="!userLogado">
					<label class="required">Ativo:</label>

					<div class="row ml-0 mr-0">
						<label class="custom-control custom-radio" [class.custom-control-danger]="ativoError.fieldDanger" *ngFor="let opcao of ativoOpcoes">
			            	<input type="radio" class="custom-control-input" formControlName="Ativo" [value]="opcao.key" (change)="errors.Ativo = false">
			            	<span class="custom-control-indicator"></span>
			            	<span class="custom-control-description">{{opcao.value}}</span>
			            </label>
					</div>

					<field-error #ativoError [submitted]="submitted" label="Ativo"
					[control]="form.controls.Ativo" [error]="errors.Ativo"></field-error>
				</div>

				<div class="col-sm-4 form-group" *ngIf="userLogado">
					<label [class.required]="!!form.value.Senha">Senha Atual:</label>

					<input autocomplete="new-password" type="password" class="form-control" formControlName="SenhaAtual" placeholder="Senha Atual"
					[required]="!!form.value.Senha" [class.form-control-danger]="senhaAtualError.fieldDanger" (change)="errors.SenhaAtual = false"/>

					<field-error #senhaAtualError [submitted]="submitted" label="Senha Atual"
					[control]="form.controls.SenhaAtual" [error]="errors.SenhaAtual"></field-error>
				</div>


				<div class="col-sm-4 form-group">
					<label [class.required]="!form.value.id">{{form.value.id ? "Nova senha" : "Senha"}}:</label>

					<input autocomplete="new-password" type="password" class="form-control" formControlName="Senha" [placeholder]="form.value.id ? 'Nova senha' : 'Senha'"
					[required]="!form.value.id" [class.form-control-danger]="senhaError.fieldDanger" (change)="errors.Senha = false"/>

					<field-error #senhaError [submitted]="submitted" [label]="form.value.id ? 'Nova senha' : 'Senha'"
					[control]="form.controls.Senha" [error]="errors.Senha"></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label [class.required]="!!form.value.Senha">Confirmar Senha:</label>

					<input autocomplete="new-password" type="password" class="form-control" formControlName="ConfirmaSenha" placeholder="Confirmar Senha"
					[required]="!!form.value.Senha" [class.form-control-danger]="confirmaSenhaError.fieldDanger" (change)="errors.ConfirmaSenha = false"/>

					<field-error #confirmaSenhaError [submitted]="submitted" label="Confirmar Senha"
					[control]="form.controls.ConfirmaSenha" [error]="errors.ConfirmaSenha ? errors.ConfirmaSenha : ((form.value.ConfirmaSenha != form.value.Senha && (form.value.ConfirmaSenha || form.value.Senha)) && submitted ? 'As senhas não coincidem' : false)"></field-error>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body>
			<a class="btn btn-tn btn-warning" [routerLink]="'/paginas/' + routine + '/lista'">
				Voltar
			</a>
			<button type="submit" class="btn btn-tn btn-success float-right" [disabled]="submitting">
				{{submitting ? 'Salvando' : 'Salvar'}}
			</button>
			<button type="button" class="btn btn-tn btn-primary mr-3 float-right" *ngIf="form.value.id" (click)="newRegister()">
				Novo
			</button>
		</nb-card-body>
	</nb-card>
</form>
