<form #meuForm="ngForm" (submit)="onSubmit(meuForm)" novalidate [nbSpinner]="loading" nbSpinnerMessage="">
	<nb-card class="mb-0">
		<nb-card-header>
			<div class="row top-bradcrumb">
				<div class="col-sm-8 title-bradcrumb">
					<h4>Contato</h4>
				</div>
			</div>
		</nb-card-header>
		<nb-card-body>

			<div class="row">

				<div class="col-sm-6">
					<div class="form-group">
						<label>Nome:</label>
						<input type="text" maxlength="200" [(ngModel)]="dados.Nome" name="nome" #nome="ngModel" placeholder="Nome" class="form-control" required [ngClass]="{'form-control-danger': !nome.valid && submitted}" />
						<small *ngIf="!nome.valid && submitted" class="form-text">
							O campo nome é obrigatório
						</small>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label>E-mail:</label>
						<input type="email" email maxlength="75" [(ngModel)]="dados.Email" name="email" #email="ngModel" placeholder="E-mail" class="form-control" required [ngClass]="{'form-control-danger': (!email.valid && submitted) || erros.Email}" (change)="erros.Email = false" />
						<small *ngIf="!email.valid && submitted" class="form-text">
							O campo e-mail é obrig
						</small>
						<small *ngIf="erros.Email && submitted" class="form-text">
							{{erros.Email}}
						</small>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label>Assunto:</label>
						<input type="text" maxlength="200" [(ngModel)]="dados.Assunto" name="assunto" #assunto="ngModel" placeholder="Assunto" class="form-control" required [ngClass]="{'form-control-danger': !assunto.valid && submitted}" />
						<small *ngIf="!assunto.valid && submitted" class="form-text">
							O campo assunto é obrigatório
						</small>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<label>Mensagem:</label>
			          	<textarea [(ngModel)]="dados.Mensagem" name="mensagem" #mensagem="ngModel" placeholder="Mensagem" rows="4" class="form-control" required [ngClass]="{'form-control-danger': !assunto.valid && submitted}" >
			          	</textarea>
			          	<small *ngIf="!mensagem.valid && submitted" class="form-text">
							O campo mensagem é obrigatório
						</small>
			        </div>
			    </div>

			</div> <!-- row -->
		</nb-card-body>
		<nb-card-footer>
			<button type="button" class="btn btn-tn btn-warning" (click)="close()">
				Cancelar
			</button>
			<button type="submit" class="btn btn-tn btn-success  float-right" [disabled]="submitting">
				Enviar
			</button>
		</nb-card-footer>
	</nb-card>
</form>
