<nb-card>
	<nb-card-body>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4>{{rotina}}</h4>
				<p>{{classificacao}} > {{rotina}} > {{form.value.id ? 'Edição' : 'Cadastro'}}</p>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<form [formGroup]="form" (submit)="onSubmit()" novalidate>
	<nb-card>
		<nb-card-body>
			<div class="row">

				<div class="col-sm-6 form-group">
					<label class="required">Teste:</label>

					<input type="text" class="form-control" formControlName="Teste" placeholder="Teste"
					[class.form-control-danger]="testeError.fieldDanger" (change)="errors.Teste = false" />

					<field-error #testeError [submitted]="submitted" label="Teste"
					[control]="form.controls.Teste" [error]="errors.Teste"></field-error>
				</div>

			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body>
			<a class="btn btn-tn btn-warning" [routerLink]="'/paginas/' + routine + '/lista'">
				Voltar
			</a>
			<button type="submit" class="btn btn-tn btn-success float-right" [disabled]="submitting">
				{{submitting ? 'Salvando' : 'Salvar'}}
			</button>
			<button type="button" class="btn btn-tn btn-primary mr-3 float-right" *ngIf="form.value.id" (click)="newRegister()">
				Novo
			</button>
		</nb-card-body>
	</nb-card>
</form>
