@import '../../../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
	.renderButton {
		height: 100%;
		width: 100%;
		color: #a4abb3;

		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		background: none;
		outline: none;

		i {
			font-size: 32px;
		}

		&:hover {
			&.primary {
				color: nb-theme(color-primary) !important;
			}

			&.hover-red {
				color: rgb(255, 59, 48) !important;
			}
		}
	}

	.green {
		//color: nb-theme(color-primary) !important;
		color: rgb(76, 217, 100) !important;
	}

	.red {
		//color: nb-theme(color-primary) !important;
		color: rgb(255, 59, 48) !important;
	}

	.blue {
		//color: nb-theme(color-primary) !important;
		color: rgb(0, 122, 255) !important;
	}
}