@import '../../../@theme/styles/themes.scss';

:host {
	.btn-visualizar {
		float: right;
		cursor: pointer;
		color: nb-theme(color-info);

		&:hover {
			background: #f0f0f0;
		}
	}

	.informacoes {
		&__bloco-titulo {
			font-size: 16px;
			margin-bottom: 10px;
			margin-top: 20px;
			color: nb-theme(color-primary);
		}
		&__informacao {
			padding: 10px 16px 16px;
			position: relative;
			margin-bottom: 4px;
			&:after {
				content: '';
				position: absolute;
				top: 2px;
				right: 8px;
				bottom: 12px;
				left: 8px;
				border: 1px solid #f5f5f5;
			}
		}
		&__descricao {
			font-weight: 500;
			padding-bottom: 5px;
		}
	}

	.candidatos {
		width: 100%;

		&__cabecalho {
			background: #ddd;
		}

		&__corpo {
			text-align: center;
		}

		&__coluna {
			text-align: center;
			padding: 10px 5px;
		}

		&__linha {
			&:nth-child(even) {
				background-color: #f9f9f9;
			}
		}

		&__nome-email {
			text-align: center;
			padding: 5px 0;
		}

		&__email {
			color: nb-theme(color-disable);
			font-style: italic;
		}

		&__endereco {
			color: nb-theme(color-disable);
			font-size: 12px;
		}

		&__acao {
			cursor: pointer;
			font-weight: bold;
			padding: 3px 5px;
			margin: 3px 5px;

			&:hover {
				background: #f0f0f0;
			}
		}

		&__celula-acao {
			text-align: center;
			white-space: nowrap;
		}
	}
}
