<nb-card>
	<nb-card-body>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4 class="mb-0">Processo Seletivo</h4>
			</div>
		</div>
		<div class="informacoes">
			<div class="informacoes__bloco">
				<div class="informacoes__bloco-titulo">
					<strong>{{ contratacao?.Contratacoes || 0 }}</strong>
					contrataç{{ contratacao?.Contratacoes && contratacao?.Contratacoes > 1 ? 'ões' : 'ão' }} para
					<strong>{{ contratacao?.Cargo }}</strong>
					<small class="btn-visualizar" (click)="visualizar()">Ver contratação</small>
				</div>

				<div class="row">
					<div class="informacoes__informacao col-sm-6">
						<div class="informacoes__descricao">Contratação solicitada</div>
						<div class="informacoes__valor">
							{{ contratacao?.Solicitacao | date: 'dd/MM/y' }} - {{ contratacao?.UsuarioSolicitante }}
						</div>
					</div>

					<div class="informacoes__informacao col-sm-6">
						<div class="informacoes__descricao">Contratação autorizada</div>
						<div class="informacoes__valor">{{ contratacao?.Avaliacao | date: 'dd/MM/y' }} - {{ contratacao?.UsuarioAvaliador }}</div>
					</div>

					<div class="informacoes__informacao col-sm-4">
						<div class="informacoes__descricao">Vaga para PCD</div>
						<div class="informacoes__valor">{{ contratacao?.Pcd }}</div>
					</div>

					<div class="informacoes__informacao col-sm-4">
						<div class="informacoes__descricao">Salário</div>
						<div class="informacoes__valor">{{ contratacao?.Salario }}</div>
					</div>

					<div class="informacoes__informacao col-sm-4">
						<div class="informacoes__descricao">Status</div>
						<div class="informacoes__valor">{{ contratacao?.Status }}</div>
					</div>
				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<nb-card>
	<nb-card-body class="overflow-visible">
		<passos [passos]="etapas" [etapaAtual]="contratacao?.Etapa" [etapa]="etapa" (selecionado)="alteraEtapa($event)"></passos>
	</nb-card-body>
</nb-card>

<!-- 
<nb-card *ngIf="etapa == 'testes' && !carregando && testes && testes.length">
	<nb-card-body class="pt-0 overflow-visible">
		<div class="informacoes__bloco">
			<div class="informacoes__bloco-titulo">
				Testes
				<small class="float-right">Média: {{ mediaTestes | number: '1.1-1' }}</small>
			</div>

			<div class="row">
				<div class="informacoes__informacao col-md-6 col-lg-4 text-center" *ngFor="let teste of testes">
					<div class="informacoes__descricao">{{ teste.value }}</div>
					<div class="informacoes__valor">Nota Mínima: {{ teste.MinimoPontos }}</div>
				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card> -->

<nb-card>
	<nb-card-body class="overflow-visible">
		<table class="candidatos" *ngIf="candidatos && candidatos.length">
			<thead class="candidatos__cabecalho">
				<th class="candidatos__coluna">Candidato</th>
				<th class="candidatos__coluna">Idade</th>
				<th class="candidatos__coluna">Endereço</th>
				<th class="candidatos__coluna">PCD</th>
				<th class="candidatos__coluna" *ngIf="etapa == 'triagem'">Pontos</th>
				<th class="candidatos__coluna" *ngIf="etapa == 'testes'">Média das Notas</th>
				<th class="candidatos__coluna" *ngIf="etapa == 'entrevistas'">Nota para o candidato</th>
				<th class="candidatos__coluna"></th>
				<th class="candidatos__coluna"></th>
			</thead>
			<tbody class="candidatos__corpo">
				<tr class="candidatos__linha" *ngFor="let candidato of candidatos">
					<td class="candidatos__nome-email">
						<div class="candidatos__nome">{{ candidato.Nome }}</div>
						<div class="candidatos__email">{{ candidato.Email }}</div>
					</td>
					<td>{{ candidato.Idade }} anos</td>
					<td class="candidatos__endereco">{{ candidato.Endereco }}</td>
					<td>{{ candidato.Pcd }}</td>
					<td *ngIf="etapa == 'triagem'">{{ candidato.Pontos | number: '1.1-1' }}</td>
					<td *ngIf="etapa == 'testes'">
						<div *ngIf="candidato.Pontuacao">{{ candidato.Pontuacao | number: '1.1-1' }}</div>
						<div>
							<small class="candidatos__acao text-info" (click)="notaFase('Testes', candidato)">
								{{ candidato.Pontuacao ? 'Alterar' : 'Registrar' }} nota
							</small>
						</div>
					</td>
					<td *ngIf="etapa == 'entrevistas'">
						<div *ngIf="candidato.Pontuacao">{{ candidato.Pontuacao | number: '1.1-1' }}</div>
						<div>
							<small class="candidatos__acao text-info" (click)="notaFase('Entrevistas', candidato)">
								{{ candidato.Pontuacao ? 'Alterar' : 'Registrar' }} nota
							</small>
						</div>
					</td>
					<td class="candidatos__celula-acao">
						<small class="candidatos__acao mr-0 text-info" (click)="curriculo(candidato.CandidatoId, candidato.CandidatoPontos)">
							Currículo </small
						><small>e</small>
						<div>
							<small class="candidatos__acao text-info" (click)="anotacoes(candidato.CandidatoId)">
								Observações
							</small>
						</div>
					</td>
					<td class="candidatos__celula-acao" *ngIf="etapa == 'triagem'">
						<small
							class="candidatos__acao text-danger"
							*ngIf="!candidato.Analise || candidato.Status == 'R'"
							(click)="analisaTriagem(false, candidato)"
						>
							{{ candidato.Analise ? 'Reprovado' : 'Reprovar' }}
						</small>
						<small
							class="candidatos__acao text-success"
							*ngIf="!candidato.Analise || candidato.Status == 'A'"
							(click)="analisaTriagem(true, candidato)"
						>
							{{ candidato.Analise ? 'Aprovado' : 'Aprovar' }}
						</small>
						<div>
							<small *ngIf="candidato.Reprova && candidato.Status == 'R'">{{ candidato.Reprova }}</small>
						</div>
					</td>
					<td class="candidatos__celula-acao" *ngIf="etapa == 'testes'">
						<small
							class="candidatos__acao text-danger"
							*ngIf="!candidato.Analise || candidato.Status == 'R'"
							(click)="analisaTestes(false, candidato)"
						>
							{{ candidato.Analise ? 'Reprovado' : 'Reprovar' }}
						</small>
						<small
							class="candidatos__acao text-success"
							*ngIf="!candidato.Analise || candidato.Status == 'A'"
							(click)="analisaTestes(true, candidato)"
						>
							{{ candidato.Analise ? 'Aprovado' : 'Aprovar' }}
						</small>
						<div>
							<small *ngIf="candidato.Reprova && candidato.Status == 'R'">{{ candidato.Reprova }}</small>
						</div>
					</td>
					<td class="candidatos__celula-acao" *ngIf="etapa == 'entrevistas'">
						<small
							class="candidatos__acao text-danger"
							*ngIf="!candidato.Analise || candidato.Status == 'R'"
							(click)="analisaEntrevistas(false, candidato)"
						>
							{{ candidato.Analise ? 'Reprovado' : 'Reprovar' }}
						</small>
						<small
							class="candidatos__acao text-success"
							*ngIf="!candidato.Analise || candidato.Status == 'A'"
							(click)="analisaEntrevistas(true, candidato)"
						>
							{{ candidato.Analise ? 'Aprovado' : 'Aprovar' }}
						</small>
						<div>
							<small *ngIf="candidato.Reprova && candidato.Status == 'R'">{{ candidato.Reprova }}</small>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div *ngIf="candidatos && !candidatos.length" class="text-center">
			Nenhum candidato encontrado para esta etapa.
		</div>
	</nb-card-body>
</nb-card>

<nb-card *ngIf="contratacao?.Etapa == etapa && contratacao.Status != 'Finalizado' && !carregando">
	<nb-card-body class="overflow-visible">
		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-6">
				<button *ngIf="etapa == 'triagem'" type="button" class="btn btn-tn btn-info mr-3 float-right" (click)="concluiTriagem()">
					Concluir triagem
				</button>
				<button *ngIf="etapa == 'testes'" type="button" class="btn btn-tn btn-info mr-3 float-right" (click)="concluiTestes()">
					Concluir testes
				</button>
				<button
					*ngIf="etapa == 'entrevistas'"
					type="button"
					class="btn btn-tn btn-info mr-3 float-right"
					(click)="concluiEntrevistas()"
				>
					Concluir entrevistas
				</button>
				<button *ngIf="etapa == 'aprovados'" type="button" class="btn btn-tn btn-info mr-3 float-right" (click)="concluiAprovados()">
					Concluir aprovados
				</button>
			</div>
		</div>
	</nb-card-body>
</nb-card>
