<nb-card *ngIf="filtrosAdicionais && filtrosAdicionais.length && showFilters">
	<nb-card-body>
		<form novalidate (submit)="datagrid.setParams(filtrosValores)">
			<div class="row">

				<div class="col-sm-12 mb-2">
					<h5>
						Filtros adicionais
					</h5>
				</div>

				<div class="col-sm-4" *ngFor="let campo of filtrosAdicionais">

					<div class="form-group" *ngIf="campo.Tipo == 'T' || campo.Tipo == 'A' || campo.Tipo == 'F'">

						<label class="text-center">{{campo.Nome}}</label>

						<input type="text" [(ngModel)]="filtrosValores[campo.Field + '_like']"
							[name]="campo.Field + '_like'" #campoModel="ngModel" [placeholder]="campo.Nome"
							class="form-control">
					</div>

					<div class="form-group"
						*ngIf="campo.Tipo == 'N' || campo.Tipo == 'P' || campo.Tipo == 'S' || campo.Tipo == 'D'">

						<label class="text-center">{{campo.Nome}}</label>

						<div class="row">
							<div class="col-sm-6">
								<input
									[type]="campo.Tipo == 'N' || campo.Tipo == 'P' || campo.Tipo == 'S' ? 'number' : 'date'"
									[(ngModel)]="filtrosValores[campo.Field + '_de']" [name]="campo.Field + '_de'"
									#campoModel="ngModel"
									[step]="campo.Tipo == 'P' || campo.Tipo == 'S' ? '0.01' : null"
									placeholder="A partir de" class="form-control">
							</div>

							<div class="col-sm-6">
								<input
									[type]="campo.Tipo == 'N' || campo.Tipo == 'P' || campo.Tipo == 'S' ? 'number' : 'date'"
									[(ngModel)]="filtrosValores[campo.Field + '_ate']" [name]="campo.Field + '_ate'"
									#campoModel="ngModel"
									[step]="campo.Tipo == 'P' || campo.Tipo == 'S' ? '0.01' : null" placeholder="Até"
									class="form-control">
							</div>
						</div>
					</div>

					<div class="form-group" *ngIf="campo.Tipo == 'V'">

						<label class="text-center">{{campo.Nome}}</label>

						<div class="row">
							<div class="col-sm-6">
								<input type="text" currencyMask [(ngModel)]="filtrosValores[campo.Field + '_de']"
									[name]="campo.Field + '_de'" #campoModel="ngModel" placeholder="A partir de"
									class="form-control">
							</div>

							<div class="col-sm-6">
								<input type="text" currencyMask [(ngModel)]="filtrosValores[campo.Field + '_ate']"
									[name]="campo.Field + '_ate'" #campoModel="ngModel" placeholder="Até"
									class="form-control">
							</div>
						</div>

					</div>

					<div class="form-group" *ngIf="campo.Tipo == 'U'">

						<label class="text-center">{{campo.Nome}}</label>

						<select [(ngModel)]="filtrosValores[campo.Field]" [name]="campo.Field" #campoModel="ngModel"
							class="form-control">
							<option value="">-- Selecione --</option>
							<option *ngFor="let opcao of campo.Opcoes" [value]="opcao.key">{{opcao.value}}</option>
						</select>
					</div>

					<div class="form-group" *ngIf="campo.Tipo == 'M'">
						<label class="text-center">{{campo.Nome}}</label>

						Filtro múltiplo indísponível, por enquanto
					</div>

					<div class="form-group" *ngIf="campo.Tipo == 'B'">

						<label class="text-center">{{campo.Nome}}</label>

						<select [(ngModel)]="filtrosValores[campo.Field]" [name]="campo.Field" #campoModel="ngModel"
							class="form-control">
							<option value="">-- Selecione --</option>
							<option value="S">Sim</option>
							<option value="N">Não</option>
						</select>
					</div>
				</div>
				<div class="col-sm-12">
					<button type="button" (click)="limparFiltros();datagrid.setParams(filtrosValores);"
						class="btn btn-tn btn-warning mb-0 mr-2 float-left">Limpar</button>
					<button class="btn btn-tn btn-info mb-0 float-right">Filtrar</button>
				</div>
			</div>
		</form>
	</nb-card-body>
</nb-card>

<nb-card>
	<nb-card-header>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4>{{ rotina }}</h4>
				<p>
					<span>{{ classificacao }}</span> >
					<span>{{ rotina }}</span> >
					<span>Listagem</span>
				</p>
			</div>
			<div class="col-sm-4 align-self-center text-right justify-content-end"
				*ngIf="filtrosAdicionais && filtrosAdicionais.length">
				<button class="btn btn-tn btn-primary" (click)="showFilters = !showFilters">
					Filtros adicionais <i [ngClass]="{'nb-arrow-up': showFilters, 'nb-arrow-down': !showFilters}"></i>
				</button>
			</div>
			<div class="col-sm-4 align-self-center text-right justify-content-end" *ngIf="internalAdd">
				<button class="btn btn-tn btn-info" (click)="showAdd = !showAdd">
					Adicionar <i [ngClass]="{'nb-arrow-up': showAdd, 'nb-arrow-down': !showAdd}"></i>
				</button>
			</div>
		</div>
	</nb-card-header>

	<nb-card-body>

		<div *ngIf="showAdd" class="form-internal">
			TESTE
		</div>

		<app-datagrid #datagrid [columns]="tableColumns" [routine]="routine" [primaryKey]="primaryKey"
			[formPage]="formPage" [params]="params" [apiMethod]="apiMethod" [barraManipulacao]="barraManipulacao"
			[canDelete]="canDelete">
		</app-datagrid>

	</nb-card-body>
</nb-card>
