<nb-layout windowMode>
	<nb-layout-header fixed>
		<ngx-header [position]="'normal'"></ngx-header>
	</nb-layout-header>

	<nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
		<nb-menu [items]="menu"></nb-menu>
	</nb-sidebar>

	<nb-layout-column class="main-content" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
		<router-outlet></router-outlet>
	</nb-layout-column>

	<!-- RODAPÉ COMENTADO PORQUE NÃO É NECESSÁRIO, POR ENQUANTO
	<nb-layout-footer fixed>
		<ngx-footer></ngx-footer>
	</nb-layout-footer> -->
</nb-layout>
