@mixin nb-auth-block-theme() {
	nb-auth-block {
		.form-text a {
			color: nb-theme(color-fg);
		}

		.accept-group {
			nb-checkbox .custom-control-description {
				color: nb-theme(color-fg);
			}

			a {
				color: nb-theme(accept-group-link-color);
			}
		}

		.socials a {
			&::before {
				color: nb-theme(socials-color);
			}

			&:hover::before {
				color: nb-theme(socials-hover-color);
			}
		}
	}
}
