<div class="row">
	<div class="col-sm-12">
		<nb-card>
			<nb-card-body>
				<div class="row" style="align-items: center;">
					<div class="col-sm-4"><img style="width: 100%" src="assets/images/recruitment.svg" /></div>
					<div class="col-sm-8 text-center">
						<h1>FATEC Sorocaba</h1>
						<h2>Análise e Desenvolvimento de Sistemas</h2>
						<hr>
						<h3>Projeto Integrado</h3>
					</div>
				</div>
				<div class="row" style="align-items: center;">
					<div class="col-sm-4 text-center">
						<h5>Orientadoras:</h5>
						<h5>Maria Angélica C. A. Cardieri</h5>
						<h5>Maria das Graças J. M. Tomazela</h5>
					</div>
					<div class="col-sm-8 text-center">
						<h4 style="width: 450px; margin-left: auto; margin-right: auto;">
							André Makoto Yamaya <small style="float: right; padding-top: 2px">0030481613032</small>
						</h4>
						<h4 style="width: 450px; margin-left: auto; margin-right: auto;">
							Cauê Luan Pinto Silva <small style="float: right; padding-top: 2px">0030481613006</small>
						</h4>
						<h4 style="width: 450px; margin-left: auto; margin-right: auto;">
							Edgar Pereira da Rocha <small style="float: right; padding-top: 2px">0030481513041</small>
						</h4>
						<h4 style="width: 450px; margin-left: auto; margin-right: auto;">
							Lucas Schonfelder <small style="float: right; padding-top: 2px">0030481613027</small>
						</h4>
						<h4 style="width: 450px; margin-left: auto; margin-right: auto;">
							Murilo Spinoza de Arruda <small style="float: right; padding-top: 2px">0030481613032</small>
						</h4>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>
