<small *ngIf="!control.errors && error && submitted" class="form-text">
	{{error}}
</small>
<small *ngIf="control.errors && control.errors['required'] && submitted" class="form-text">
	O campo {{label}} é obrigatório
</small>
<small *ngIf="control.errors && control.errors['email'] && submitted" class="form-text">
	Digite um e-mail válido
</small>
<small *ngIf="control.errors && control.errors['maxlength']" class="form-text">
	O campo deve ter até {{control.errors['maxlength'].requiredLength}} caracteres e possui
	{{control.errors['maxlength'].actualLength}}.
</small>
