<!-- Põe margin para cima se não tiver paginação -->
<div class="row align-items-center mb-4" [nbSpinner]="source?.loading" nbSpinnerStatus="primary" nbSpinnerMessage="">
	<div class="col-9 col-xs-9 col-sm-10 col-md-5 text-center text-sm-left">
		Páginas com
		<select [(ngModel)]="perPage" name="porPagina" #campoModel="ngModel" (change)="setPerPage()" class="form-control">
			<option *ngFor="let qtde of pageSizes" [value]="qtde.key">{{ qtde.value }}</option>
		</select>
		registros
	</div>
	<div class="col-3 col-xs-3 col-sm-2 col-md-2 text-center">
		<i class="ion-ios-download-outline" title="Exportar para planilha" *ngIf="canExport" (click)="exportXLS()"></i>
	</div>
	<div class="col-12 col-xs-12 col-sm-12 col-md-5 right-text">
		<p class="mb-0" *ngIf="source?.rowsRequestCount">Exibindo {{ source.rowsRequestCount }} de {{ source.lastRequestCount }} registros</p>
	</div>
</div>

<ng2-smart-table
	class="my-smart-table"
	[hidden]="source?.loading && !source?.initialized"
	[settings]="settings"
	[source]="source"
	(edit)="onEdit($event)"
	(delete)="onDelete($event)"
	(create)="onAdd($event)"
></ng2-smart-table>
