@import '../../styles/styles';

:host {
	display: inline-block;
	min-width: 100%;
	.ion-ios-download-outline {
		font-size: 30px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		display: inline-block;
		&:hover {
			background-color: #f5f5f5;
		}
	}
	.loading {
		text-align: center;
		padding: 15px;
		font-size: 16px;
		color: #888;
		border: 1px solid #ebeef2;
		border-radius: 2px;
	}
	.custom-button {
		padding: 0 !important;
	}
	.right-text {
		text-align: right;
	}
	select.form-control {
		width: auto;
		display: inline-block;
	}
}
