<div class="candidatos-anotacoes" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="">
	<div class="candidatos-anotacoes__header">
		<div class="candidatos-anotacoes__titulo">Candidato: {{ candidato.CandidatoId }}</div>
		<div class="candidatos-anotacoes__fechar" (click)="fechaModal()">Fechar</div>
	</div>
	<div class="candidatos-anotacoes__body">
		<div class="candidatos-anotacoes__bloco">
			<div class="candidatos-anotacoes__bloco-titulo">
				Dados pessoais
			</div>

			<div class="row">
				<div class="candidatos-anotacoes__informacao col-sm-4">
					<div class="candidatos-anotacoes__descricao">Nome</div>
					<div class="candidatos-anotacoes__valor">{{ candidato.Nome }}</div>
				</div>

				<div class="candidatos-anotacoes__informacao col-sm-4">
					<div class="candidatos-anotacoes__descricao">Data de Nascimento</div>
					<div class="candidatos-anotacoes__valor">{{ candidato.Nascimento | date: 'dd/MM/y' }}</div>
				</div>

				<div class="candidatos-anotacoes__informacao col-sm-4">
					<div class="candidatos-anotacoes__descricao">Sexo</div>
					<div class="candidatos-anotacoes__valor">{{ candidato.Sexo }}</div>
				</div>

				<div class="candidatos-anotacoes__informacao col-sm-4">
					<div class="candidatos-anotacoes__descricao">Telefone</div>
					<div class="candidatos-anotacoes__valor">{{ candidato.Telefone }}</div>
				</div>

				<div class="candidatos-anotacoes__informacao col-sm-4">
					<div class="candidatos-anotacoes__descricao">E-mail</div>
					<div class="candidatos-anotacoes__valor">{{ candidato.Email }}</div>
				</div>

				<div class="candidatos-anotacoes__informacao col-sm-8">
					<div class="candidatos-anotacoes__descricao">Endereço</div>
					<div class="candidatos-anotacoes__valor">{{ candidato.Endereco }}</div>
				</div>

				<div class="candidatos-anotacoes__informacao col-sm-4">
					<div class="candidatos-anotacoes__descricao">Pessoa com Deficiência</div>
					<div class="candidatos-anotacoes__valor">{{ candidato.Pcd }}</div>
				</div>

				<div class="candidatos-anotacoes__informacao col-sm-4" [hidden]="candidato.Pcd != 'S'">
					<div class="candidatos-anotacoes__descricao">Deficiência</div>
					<div class="candidatos-anotacoes__valor">{{ candidato.Deficiencia }}</div>
				</div>
			</div>
		</div>

		<div class="candidatos-anotacoes__bloco">
			<div class="candidatos-anotacoes__bloco-titulo">
				Observações sobre o candidato
			</div>

			<div class="row">
				<div class="col-sm-12 form-group">
					<textarea [(ngModel)]="observacoes" class="form-control" placeholder="Observações sobre o candidato"></textarea>
				</div>
			</div>
		</div>

		<div class="analise mt-2 mb-2">
			<button type="button" class="btn btn-tn btn-warning" (click)="fechaModal()">
				Voltar
			</button>
			<button type="button" class="btn btn-tn btn-success float-right" (click)="salvar()">
				Salvar
			</button>
		</div>
	</div>
</div>
