<div class="candidatos-modal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="">
	<div class="candidatos-modal__header">
		<div class="candidatos-modal__titulo">Candidato: {{ candidato.CandidatoId }}</div>
		<div class="candidatos-modal__fechar" (click)="fechaModal()">Fechar</div>
	</div>
	<div class="candidatos-modal__body">
		<div class="candidatos-modal__bloco">
			<div class="candidatos-modal__bloco-titulo">
				Dados pessoais
			</div>

			<div class="row">
				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">Nome</div>
					<div class="candidatos-modal__valor">{{ candidato.Nome }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">RG</div>
					<div class="candidatos-modal__valor">{{ candidato.Rg }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">CPF</div>
					<div class="candidatos-modal__valor">{{ candidato.Cpf }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">Data de Nascimento</div>
					<div class="candidatos-modal__valor">{{ candidato.Nascimento | date: 'dd/MM/y' }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">Sexo</div>
					<div class="candidatos-modal__valor">{{ candidato.Sexo }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">Telefone</div>
					<div class="candidatos-modal__valor">{{ candidato.Telefone }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">E-mail</div>
					<div class="candidatos-modal__valor">{{ candidato.Email }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-8">
					<div class="candidatos-modal__descricao">Endereço</div>
					<div class="candidatos-modal__valor">{{ candidato.Endereco }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">Ativo</div>
					<div class="candidatos-modal__valor">{{ candidato.Ativo }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">Informações Válidas</div>
					<div class="candidatos-modal__valor">{{ candidato.Validado }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">Pessoa com Deficiência</div>
					<div class="candidatos-modal__valor">{{ candidato.Pcd }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-4" [hidden]="candidato.Pcd != 'S'">
					<div class="candidatos-modal__descricao">Deficiência</div>
					<div class="candidatos-modal__valor">{{ candidato.Deficiencia }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-6">
					<div class="candidatos-modal__descricao">Anotações do candidato</div>
					<div class="candidatos-modal__valor">{{ candidato.Complemento || '-' }}</div>
				</div>

				<div class="candidatos-modal__informacao col-sm-6">
					<div class="candidatos-modal__descricao">Observações sobre o candidato</div>
					<div class="candidatos-modal__valor">{{ candidato.Observacoes || '-' }}</div>
				</div>
			</div>
		</div>

		<div class="candidatos-modal__bloco" *ngIf="!loading && escolaridades && escolaridades.length">
			<div class="candidatos-modal__bloco-titulo">
				Formação acadêmica
			</div>

			<div class="row" *ngFor="let escolaridade of escolaridades">
				<div class="candidatos-modal__informacao col-sm-6">
					<div class="candidatos-modal__descricao">{{ escolaridade.GrauEscolaridade }}</div>
					<div class="candidatos-modal__valor">{{ escolaridade.Curso }}</div>
				</div>
				<div class="candidatos-modal__informacao col-sm-6">
					<div class="candidatos-modal__descricao">Instituição</div>
					<div class="candidatos-modal__valor">{{ escolaridade.Instituicao }}</div>
				</div>
				<div class="candidatos-modal__informacao col-sm-3">
					<div class="candidatos-modal__descricao">Período</div>
					<div class="candidatos-modal__valor">{{ escolaridade.Periodo }}</div>
				</div>
				<div class="candidatos-modal__informacao col-sm-4">
					<div class="candidatos-modal__descricao">Duração do curso</div>
					<div class="candidatos-modal__valor">
						{{ escolaridade.Inicio | date: 'dd/MM/y' }} - {{ escolaridade.Termino | date: 'dd/MM/y' }}
					</div>
				</div>
			</div>
		</div>

		<div class="candidatos-modal__bloco" *ngIf="!loading && experiencias && experiencias.length">
			<div class="candidatos-modal__bloco-titulo">
				Experiências profissionais
			</div>

			<div class="row" *ngFor="let experiencia of experiencias">
				<div class="candidatos-modal__informacao col-sm-6">
					<div class="candidatos-modal__descricao">Cargo</div>
					<div class="candidatos-modal__valor">{{ experiencia.Cargo }}</div>
				</div>
				<div class="candidatos-modal__informacao col-sm-6">
					<div class="candidatos-modal__descricao">Empresa</div>
					<div class="candidatos-modal__valor">{{ experiencia.Empresa }}</div>
				</div>
				<div class="candidatos-modal__informacao col-sm-3">
					<div class="candidatos-modal__descricao">Jornada</div>
					<div class="candidatos-modal__valor">{{ experiencia.Jornada }} horas</div>
				</div>
				<div class="candidatos-modal__informacao col-sm-3">
					<div class="candidatos-modal__descricao">Período</div>
					<div class="candidatos-modal__valor">{{ experiencia.Periodo }}</div>
				</div>
				<div class="candidatos-modal__informacao col-sm-6">
					<div class="candidatos-modal__descricao">Duração da experiência</div>
					<div class="candidatos-modal__valor">
						{{ experiencia.Entrada | date: 'dd/MM/y' }} -
						{{ experiencia.Saida ? (experiencia.Saida | date: 'dd/MM/y') : 'Atualmente' }}
					</div>
				</div>
			</div>
		</div>

		<div class="candidatos-modal__bloco" *ngIf="!loading && habilidades && habilidades.length">
			<div class="candidatos-modal__bloco-titulo">
				Habilidades
			</div>

			<div class="row">
				<div class="candidatos-modal__informacao col-sm-4 text-center" *ngFor="let habilidade of habilidades">
					<div class="candidatos-modal__descricao">{{ habilidade.value }}</div>
					<div class="stars-container">
						<span
							*ngFor="let value of [1, 2, 3, 4, 5]"
							[class.ion-android-star]="habilidade.Nivel >= value"
							[class.ion-android-star-outline]="habilidade.Nivel < value"
						></span>
					</div>
				</div>
			</div>
		</div>

		<div class="candidatos-modal__bloco" *ngIf="!loading && redesSociais && redesSociais.length">
			<div class="candidatos-modal__bloco-titulo">
				Redes sociais
			</div>

			<div class="row">
				<div class="candidatos-modal__informacao col-sm-6" *ngFor="let redeSocial of redesSociais">
					<div class="candidatos-modal__descricao">{{ redeSocial.value }}</div>
					<div class="candidatos-modal__valor">{{ redeSocial.Link }}</div>
				</div>
			</div>
		</div>

		<div class="candidatos-modal__bloco" *ngIf="!loading && pontos && pontos.length">
			<div class="candidatos-modal__bloco-titulo">
				Pontos recebidos
			</div>

			<div class="row">
				<div class="col-sm-12 pontuacoes">
					<div class="pontuacoes__item" *ngFor="let ponto of pontos">
						<div class="pontuacoes__pontos">{{ ponto.Pontos | number: '1.1-1' }}</div>
						<div class="pontuacoes__motivo">
							<div>{{ ponto.Motivo }}</div>
						</div>
						<div class="pontuacoes__data">
							<div>{{ ponto.Created | date: 'dd/MM/y' }}</div>
							<div>{{ ponto.Created | date: 'HH:mm' }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
