@import '../../../@theme/styles/themes.scss';

:host {
	.candidatos-modal {
		&__header {
			display: flex;
			align-items: center;
			padding: 15px;
		}

		&__titulo {
			flex: 1;
			font-size: 20px;
			font-weight: bold;
		}

		&__fechar {
			color: nb-theme(color-danger);
			cursor: pointer;
		}

		&__body {
			padding: 8px 16px;
		}

		&__bloco {
			.row {
				&:not(:last-of-type) {
					border-bottom: 1px dashed #aaa;
					margin-bottom: 15px;
				}
			}
		}

		&__bloco-titulo {
			font-size: 16px;
			margin-bottom: 10px;
			margin-top: 20px;
			color: nb-theme(color-primary);
		}

		&__informacao {
			padding: 10px 16px 16px;
			position: relative;
			margin-bottom: 4px;

			&::after {
				content: '';
				position: absolute;
				top: 2px;
				right: 8px;
				bottom: 12px;
				left: 8px;
				border: 1px solid #f5f5f5;
			}
		}

		&__descricao {
			font-weight: 500;
			padding-bottom: 5px;
		}
	}

	.pontuacoes {
		&__item {
			display: flex;
			align-items: center;
			padding: 5px 0;

			&:nth-child(even) {
				background: #f9f9f9;
			}
		}
		&__pontos {
			padding: 0 15px 0 10px;
			width: 60px;
			max-width: 60px;
			min-width: 60px;
			text-align: right;

			&::before {
				content: '+';
				float: left;
			}
		}

		&__motivo {
			color: nb-theme(color-disable);
			flex: 1;
		}

		&__data {
			color: nb-theme(color-disable);
			text-align: center;
			font-size: 12px;
		}
	}
}
