<div class="contratacoes-modal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="">
	<div class="contratacoes-modal__header">
		<div class="contratacoes-modal__titulo">Contratação: {{ contratacao.ContratacaoId }}</div>
		<div class="contratacoes-modal__fechar" (click)="fechaModal()">Fechar</div>
	</div>
	<div class="contratacoes-modal__body">
		<div class="informacoes__bloco">
			<div class="informacoes__bloco-titulo">
				<strong>{{ contratacao?.Contratacoes || 0 }}</strong>
				contrataç{{ contratacao?.Contratacoes && contratacao?.Contratacoes > 1 ? 'ões' : 'ão' }} para
				<strong>{{ contratacao?.Cargo }}</strong>
			</div>

			<div class="row">
				<div class="informacoes__informacao col-sm-6">
					<div class="informacoes__descricao">Contratação solicitada</div>
					<div class="informacoes__valor">
						{{ contratacao?.Solicitacao | date: 'dd/MM/y' }} - {{ contratacao?.UsuarioSolicitante }}
					</div>
				</div>

				<div class="informacoes__informacao col-sm-6">
					<div class="informacoes__descricao">Contratação analisada</div>
					<div class="informacoes__valor">{{ contratacao?.Avaliacao | date: 'dd/MM/y' }} - {{ contratacao?.UsuarioAvaliador }}</div>
				</div>

				<div class="informacoes__informacao col-sm-4">
					<div class="informacoes__descricao">Vaga para PCD</div>
					<div class="informacoes__valor">{{ contratacao?.Pcd }}</div>
				</div>

				<div class="informacoes__informacao col-sm-4">
					<div class="informacoes__descricao">Salario</div>
					<div class="informacoes__valor">{{ contratacao?.Salario }}</div>
				</div>

				<div class="informacoes__informacao col-sm-4">
					<div class="informacoes__descricao">Status</div>
					<div class="informacoes__valor">{{ contratacao?.Status }}</div>
				</div>

				<div class="informacoes__informacao col-sm-6">
					<div class="informacoes__descricao">Justificativa para a contratação</div>
					<div class="informacoes__valor">{{ contratacao?.Motivo }}</div>
				</div>

				<div class="informacoes__informacao col-sm-6" *ngIf="contratacao?.Rejeicao">
					<div class="informacoes__descricao text-primary">Rejeição da contratação</div>
					<div class="informacoes__valor">{{ contratacao?.Rejeicao }}</div>
				</div>

				<div class="informacoes__informacao col-sm-12">
					<div class="informacoes__descricao">Descrição da vaga</div>
					<div class="informacoes__valor" [innerHTML]="contratacao?.Descricao"></div>
				</div>
			</div>
		</div>

		<div class="informacoes__bloco" *ngIf="!loading && escolaridades && escolaridades.length">
			<div class="informacoes__bloco-titulo">
				Cursos e formações desejados
				<small class="informacoes__collapse" (click)="exibeEscolaridades = !exibeEscolaridades">{{
					exibeEscolaridades ? 'Ocultar' : 'Exibir'
				}}</small>
				<small class="float-right">Quantia: {{ escolaridades.length }}</small>
			</div>

			<div class="row" *ngIf="exibeEscolaridades">
				<div class="informacoes__informacao col-md-6 col-lg-4 text-center" *ngFor="let escolaridade of escolaridades">
					<div class="informacoes__valor"><small>{{ escolaridade.GrauEscolaridade }}</small></div>
					<div class="informacoes__descricao">{{ escolaridade.Curso }}</div>
				</div>
			</div>
		</div>

		<div class="informacoes__bloco" *ngIf="!loading && habilidades && habilidades.length">
			<div class="informacoes__bloco-titulo">
				Requisitos
				<small class="informacoes__collapse" (click)="exibeRequisitos = !exibeRequisitos">{{
					exibeRequisitos ? 'Ocultar' : 'Exibir'
				}}</small>
				<small class="float-right">Quantia: {{ habilidades.length }}</small>
			</div>

			<div class="row" *ngIf="exibeRequisitos">
				<div class="informacoes__informacao col-md-6 col-lg-4 text-center" *ngFor="let habilidade of habilidades">
					<div class="informacoes__descricao">{{ habilidade.value }}</div>
					<div class="stars-container">
						<span
							*ngFor="let value of [1, 2, 3, 4, 5]"
							[class.ion-android-star]="habilidade.Nivel >= value"
							[class.ion-android-star-outline]="habilidade.Nivel < value"
						></span>
					</div>
					<div class="informacoes__valor">{{ habilidade.TipoRequisito }}</div>
				</div>
			</div>
		</div>

		<div class="informacoes__bloco" *ngIf="!loading && testes && testes.length">
			<div class="informacoes__bloco-titulo">
				Testes que serão aplicados
				<small class="informacoes__collapse" (click)="exibeTestes = !exibeTestes">{{ exibeTestes ? 'Ocultar' : 'Exibir' }}</small>
				<small class="float-right">Média: {{ mediaTestes | number: '1.1-1' }}</small>
			</div>

			<div class="row" *ngIf="exibeTestes">
				<div class="informacoes__informacao col-md-6 col-lg-4 text-center" *ngFor="let teste of testes">
					<div class="informacoes__descricao">{{ teste.value }}</div>
					<div class="informacoes__valor">Nota Mínima: {{ teste.MinimoPontos }}</div>
				</div>
			</div>
		</div>

		<div class="informacoes__bloco" *ngIf="!loading && candidatos && candidatos.length">
			<div class="informacoes__bloco-titulo">
				Candidatos em potencial
				<small class="informacoes__collapse" (click)="exibeCandidatos = !exibeCandidatos">{{
					exibeCandidatos ? 'Ocultar' : 'Exibir'
				}}</small>
				<small class="float-right">Quantia: {{ candidatos.length }}</small>
			</div>

			<table class="candidatos" *ngIf="exibeCandidatos">
				<thead class="candidatos__cabecalho">
					<th class="candidatos__coluna">Candidato</th>
					<th class="candidatos__coluna">Idade</th>
					<th class="candidatos__coluna">Pcd</th>
					<th class="candidatos__coluna">Pontos</th>
					<th class="candidatos__coluna"></th>
				</thead>
				<tbody class="candidatos__corpo">
					<tr class="candidatos__linha" *ngFor="let candidato of candidatos">
						<td class="candidatos__nome-email">
							<div class="candidatos__nome">{{ candidato.Nome }}</div>
							<div class="candidatos__email">{{ candidato.Email }}</div>
						</td>
						<td>{{ candidato.Idade }} anos</td>
						<td>{{ candidato.Pcd }}</td>
						<td class="candidatos__pontuacao-total">{{ candidato.Pontos | number: '1.1-1' }}</td>
						<td class="candidatos__celula-visualizar">
							<small class="candidatos__visualizar" (click)="visualizar(candidato.CandidatoId, candidato.CandidatoPontos)"
								>Visualizar</small
							>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div
			class="analise mt-5"
			*ngIf="
				contratacao.UsuarioSolicitanteId != sessionStorage.getUserId() &&
				(contratacao.Status === 'Análise Pendente' || contratacao.Status === 'Rejeitada')
			"
		>
			<button type="button" class="btn btn-tn btn-danger" (click)="analisar(false)">
				Rejeitar
			</button>
			<button type="button" class="btn btn-tn btn-success float-right" (click)="analisar(true)">
				Aprovar
			</button>
		</div>
	</div>
</div>
