@import '../../../@theme/styles/themes.scss';

:host {
	.contratacoes-modal {
		&__header {
			display: flex;
			align-items: center;
			padding: 15px;
		}
		&__titulo {
			flex: 1;
			font-size: 20px;
			font-weight: bold;
		}
		&__fechar {
			color: nb-theme(color-danger);
			cursor: pointer;
		}
		&__body {
			padding: 8px 16px;
		}
	}
	.informacoes {
		&__bloco {
			.row {
				&:not(:last-of-type) {
					border-bottom: 1px dashed #aaa;
					margin-bottom: 15px;
				}
			}
		}
	}
	.informacoes {
		&__bloco-titulo {
			font-size: 16px;
			margin-bottom: 10px;
			margin-top: 20px;
			color: nb-theme(color-primary);

			small {
				color: #4b4b4b;
			}
		}
		&__informacao {
			padding: 10px 16px 16px;
			position: relative;
			margin-bottom: 4px;

			&::after {
				content: '';
				position: absolute;
				top: 2px;
				right: 8px;
				bottom: 12px;
				left: 8px;
				border: 1px solid #f5f5f5;
			}
		}
		&__descricao {
			font-weight: 500;
			padding-bottom: 5px;
		}

		&__collapse {
			color: nb-theme(color-info) !important;
			float: right;
			margin-left: 30px;
			cursor: pointer;
			display: inline-block;
			padding: 0px 5px;
			font-weight: bold;
			width: 60px;
			text-align: center;

			&:hover {
				background-color: #f5f5f5;
			}
		}
	}

	.candidatos {
		width: 100%;

		&__corpo {
			text-align: center;
		}

		&__coluna {
			text-align: center;
			padding: 0 5px;
		}

		&__linha {
			&:nth-child(even) {
				background-color: #f9f9f9;
			}
		}

		&__nome-email {
			text-align: center;
			padding: 5px 0;
		}

		&__email {
			color: nb-theme(color-disable);
			font-style: italic;
		}

		&__pontuacao-total {
			font-weight: bold;
			text-align: center;
		}

		&__visualizar {
			cursor: pointer;
			color: nb-theme(color-primary);
			padding: 3px 5px;

			&:hover {
				background: #f0f0f0;
			}
		}

		&__celula-visualizar {
			text-align: center;
		}
	}
}
