:host {
	.table {
		thead {
			text-align: center;
			td {
				vertical-align: middle;
			}
		}
		tbody {
			td {
				vertical-align: middle;
				text-align: center;
				&:first-of-type {
					text-align: left;
				}
				.custom-checkbox {
					padding: 0 !important;
					display: inline-block;
					width: 18px;

					.custom-control-indicator {
						&::before {
							border-radius: 50%;
							border: none;
						}
					}
				}
				&[colspan='5'] {
					font-weight: bold;
					background-color: #fff;
					padding: 7px 5px;
				}
			}
		}
	}
}
