<nb-card>
	<nb-card-body>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4>{{rotina}}</h4>
				<p>{{classificacao}} > {{rotina}} > {{form.value.id ? 'Edição' : 'Cadastro'}}</p>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<form [formGroup]="form" (submit)="onSubmit()" novalidate>
	<nb-card>
		<nb-card-body>

			<div class="col-sm-7 form-group">
				<label class="required">Nome do Grupo:</label>

				<input type="text" class="form-control" formControlName="Grupo" placeholder="Nome do Grupo"
				[class.form-control-danger]="grupoError.fieldDanger" (change)="errors.Grupo = false" />

				<field-error #grupoError [submitted]="submitted" label="Nome do Grupo"
				[control]="form.controls['Grupo']" [error]="errors.Grupo"></field-error>
			</div>

			<div class="form-group col-sm-12">
				<label>Permissões:</label>
				<table class="table table-striped table-bordered table-sm">
					<thead>
						<tr>
							<th>Tela</th>
							<th>Consulta</th>
							<th>Cadastro</th>
							<th>Edição</th>
							<th>Exclusão</th>
						</tr>
					</thead>
					<tbody *ngFor="let rotinaClassificacao of rotinasClassificacoes">
						<tr>
							<td colspan="5">{{rotinaClassificacao.Classificacao}}</td>
						</tr>
						<tr *ngFor="let rotina of rotinaClassificacao.Rotinas">
							<td>{{rotina.Rotina}}</td>
							<td>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" [name]="'rotina-'+rotina.RotinaId+'-Consulta'" [checked]="permissoes[rotina.RotinaId].Consulta" (change)="permissoes[rotina.RotinaId].Consulta = $event.target.checked">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description"></span>
								</label>
							</td>
							<td>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" [name]="'rotina-'+rotina.RotinaId+'-Insere'" [checked]="permissoes[rotina.RotinaId].Insere" (change)="permissoes[rotina.RotinaId].Insere = $event.target.checked">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description"></span>
								</label>
							</td>
							<td>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" [name]="'rotina-'+rotina.RotinaId+'-Edita'" [checked]="permissoes[rotina.RotinaId].Edita" (change)="permissoes[rotina.RotinaId].Edita = $event.target.checked">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description"></span>
								</label>
							</td>
							<td>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" [name]="'rotina-'+rotina.RotinaId+'-Exclui'" [checked]="permissoes[rotina.RotinaId].Exclui" (change)="permissoes[rotina.RotinaId].Exclui = $event.target.checked">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description"></span>
								</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</nb-card-body>

		<nb-card-footer>
			<a class="btn btn-tn btn-warning" [routerLink]="'/paginas/' + routine + '/lista'">
				Voltar
			</a>
			<button type="submit" class="btn btn-tn btn-success float-right" [disabled]="submitting">
				{{submitting ? 'Salvando' : 'Salvar'}}
			</button>
			<button type="button" class="btn btn-tn btn-primary mr-3 float-right" *ngIf="form.value.id" (click)="newRegister()">
				Novo
			</button>
		</nb-card-footer>
	</nb-card>
</form>
