<div class="header-container" [class.left]="true">
	<div class="logo-containter">
		<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
		<img class="logo-image" src="assets/images/recruitment.svg" />
		<div class="logo" (click)="goToHome()">Recrutamento e seleção</div>
	</div>
</div>

<div class="header-container">
	<nb-actions size="medium">

		<!-- Contact = Seria um formulário de contato para o usuário tirar alguma dúvida-->
		<!-- <nb-action class="contato d-none d-sm-block" (click)="contact()">
			<span class="contato-container">
				<strong>Precisa de alguma ajuda?</strong><br />
				<span>Entre em contato</span>
			</span>
		</nb-action> -->

		<!-- User -->
		<nb-action *ngIf="user?.Group" class="pr-4" ngbDropdown>

			<div (click)="$event.stopPropagation(); myDrop.toggle();" class="dropdown-user">
				<nb-user
					*ngIf="user?.Group"
					showInitials
					size="medium"
					[name]="user?.Name"
					[title]="user?.Group">
				</nb-user>

				<div ngbDropdown #myDrop="ngbDropdown">
					<div ngbDropdownMenu>
						<button class="dropdown-item" (click)="editProfile()">Perfil</button>
						<div class="dropdown-divider"></div>
						<button class="dropdown-item" (click)="logout()">Encerrar sessão</button>
					</div>
				</div>
			</div>
		</nb-action>
	</nb-actions>
</div>
