<div style="width:100%;height: auto;background-color: #FDFDFD;max-width: 600px;display: block;margin:0 auto;border:1px solid #F2F2F2;">
	<div style="padding: 22px 0;background-color: #F8F8F8;">
		<img style="width: 100%;height: auto;width: 40%;height: auto;margin: 0 auto;display: block;" src="{{ url }}/assets/images/logo.png" alt="" />
	</div>
	<div style="padding: 20px 0 0;">
		<p style="text-align: left;padding:0 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 18px;color:#4e4e4e;">
			Olá {{ nome }},<br />
			Seja bem vindo, agora você está cadastrado.
		</p>
	</div>
</div>