<nb-card>
	<nb-card-body>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4>{{ rotina }}</h4>
				<p>{{ classificacao }} > {{ rotina }} > {{ form.value.id ? 'Edição' : 'Cadastro' }}</p>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<form [formGroup]="form" (submit)="onSubmit()" novalidate>
	<nb-card>
		<nb-card-body class="overflow-visible">
			<div class="row">
				<div class="col-sm-6 form-group">
					<label class="required">Vaga:</label>

					<ng-select
						formControlName="QuadroVagaId"
						[class.form-control-danger]="quadroVagaIdError.fieldDanger"
						(change)="errors.QuadroVagaId = false; quadroVagaSelecionado($event)"
					>
						<ng-option *ngFor="let opcao of quadroVagaOpcoes" [value]="opcao.key">{{ opcao['Cargo'].Cargo }} </ng-option>
					</ng-select>

					<field-error
						#quadroVagaIdError
						[submitted]="submitted"
						label="Vaga"
						[control]="form.controls['QuadroVagaId']"
						[error]="errors.QuadroVagaId"
					></field-error>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card *ngIf="form.controls['Rejeicao'].value">
		<nb-card-body class="overflow-visible">
			<div class="row">
				<div class="col-sm-12">
					<p class="text-primary"><strong>Rejeição da contratação:</strong></p>
					<div>{{ form.controls['Rejeicao'].value }}</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body class="overflow-visible">
			<div class="row">
				<div class="col-sm-12 form-group">
					<label class="required">Descrição da vaga:</label>

					<angular-editor formControlName="Descricao"></angular-editor>
				</div>

				<div class="col-sm-12 form-group">
					<label>Motivo da solicitação da vaga:</label>
					<textarea formControlName="Motivo" class="form-control" placeholder="Motivo da solicitação da vaga"></textarea>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Salário:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Salario"
						placeholder="Salário"
						[brmasker]="{ form: form.get('Salario'), money: true, decimal: 2, decimalCaracter: ',', thousand: '.' }"
						[class.form-control-danger]="salarioError.fieldDanger"
						(change)="errors.Salario = false"
					/>

					<field-error
						#salarioError
						[submitted]="submitted"
						label="Salário"
						[control]="form.controls['Salario']"
						[error]="errors.Salario"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Quantia de Contratações:</label>

					<input
						type="number"
						class="form-control"
						formControlName="Contratacoes"
						placeholder="Quantia de Contratações"
						[class.form-control-danger]="contratacoesError.fieldDanger"
						(change)="errors.Contratacoes = false"
					/>

					<field-error
						#contratacoesError
						[submitted]="submitted"
						label="Quantia de Contratações"
						[control]="form.controls['Contratacoes']"
						[error]="errors.Contratacoes"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Pessoa com Deficiência:</label>

					<div class="row ml-0 mr-0">
						<label
							class="custom-control custom-radio"
							[class.custom-control-danger]="pcdError.fieldDanger"
							*ngFor="let opcao of pcdOpcoes"
						>
							<input
								type="radio"
								class="custom-control-input"
								formControlName="Pcd"
								[value]="opcao.key"
								(change)="errors.Pcd = false"
							/>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">{{ opcao.value }}</span>
						</label>
					</div>

					<field-error
						#pcdError
						[submitted]="submitted"
						label="Pessoa com Deficiência"
						[control]="form.controls['Pcd']"
						[error]="errors.Pcd"
					></field-error>
				</div>

				<div class="col-sm-6 form-group">
					<label class="required">Status da contratação:</label>

					<ng-select formControlName="Status" [class.form-control-danger]="statusError.fieldDanger" (change)="errors.Status = false">
						<ng-option *ngFor="let opcao of statusOpcoes" [value]="opcao.key">{{ opcao.value }}</ng-option>
					</ng-select>

					<field-error
						#statusError
						[submitted]="submitted"
						label="Status da contratação"
						[control]="form.controls['Status']"
						[error]="errors.Status"
					></field-error>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body class="overflow-visible pb-2">
			<div class="row">
				<div class="col-sm-12">
					<h5>Cursos e formações desejados</h5>
				</div>
				<div class="col-sm-12 form-group">
					<ng-select formControlName="Escolaridades" [items]="cursosOpcoes" bindLabel="value" bindValue="key" multiple="true">
						<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
							<div [ngOptionHighlight]="search">{{ item.value }}</div>
							<div>
								<small>{{ item.GrauEscolaridade.GrauEscolaridade }}</small>
							</div>
						</ng-template>
						<ng-template ng-label-tmp let-item="item" let-clear="clear">
							<div class="ng-value-wrapper default" style="display: flex; align-items: center;">
								<span class="ng-value-icon left" (click)="ngSelectRemoveItem(clear, item)">×</span>
								<span class="ng-value-label">
									<div>{{ item.value }}</div>
									<div>
										<small>{{ item.GrauEscolaridade.GrauEscolaridade }}</small>
									</div>
								</span>
							</div>
						</ng-template>
					</ng-select>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body class="overflow-visible pb-2">
			<div class="row">
				<div class="col-sm-12">
					<h5>Requisitos</h5>
				</div>
				<div class="col-sm-12 form-group">
					<ng-select #selectHabilidades multiple="true" (change)="atualizaHabilidades($event)">
						<ng-option *ngFor="let opcao of habilidadesOpcoes" [value]="opcao">{{ opcao.value }}</ng-option>
					</ng-select>
				</div>

				<div class="col-sm-12" *ngIf="habilidadesEscolhidas.length">
					<h6 class="mt-2 mb-3">Níveis</h6>
				</div>

				<div class="col-sm-3 form-group box-habilidade" *ngFor="let opcao of habilidadesEscolhidas">
					<label>{{ opcao.value }}</label>

					<select class="form-control" (change)="gera_habilidades(opcao, opcao.Nivel, $event)">
						<option
							*ngFor="let tipoRequisito of tipoRequisitoOpcoes"
							[value]="tipoRequisito.key"
							[selected]="tipoRequisito['key'] == opcao['TipoRequisito'] ? true : null"
							>{{ tipoRequisito.value }}
						</option>
					</select>

					<div class="stars-container">
						<span
							*ngFor="let value of [1, 2, 3, 4, 5]"
							[class.ion-android-star]="opcao.Nivel >= value"
							[class.ion-android-star-outline]="opcao.Nivel < value"
							(click)="gera_habilidades(opcao, value)"
						></span>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body class="overflow-visible pb-2">
			<div class="row">
				<div class="col-sm-12">
					<h5>Testes que serão aplicados</h5>
				</div>
				<div class="col-sm-12 form-group">
					<ng-select #selectTestes multiple="true" (change)="atualizaTestes($event)">
						<ng-option *ngFor="let opcao of testesOpcoes" [value]="opcao">{{ opcao.value }}</ng-option>
					</ng-select>
				</div>

				<div class="col-sm-12" *ngIf="testesEscolhidos.length">
					<h6 class="mt-2 mb-3">Mínimo de pontos nos testes</h6>
				</div>

				<div class="col-sm-3 form-group box-habilidade box-habilidade--padding-bottom" *ngFor="let opcao of testesEscolhidos">
					<label>{{ opcao.value }}</label>

					<select class="form-control" (change)="gera_testes(opcao, $event)">
						<option
							*ngFor="let minimoPontos of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
							[value]="minimoPontos"
							[selected]="minimoPontos == opcao.MinimoPontos ? true : null"
							>{{ minimoPontos }}
						</option>
					</select>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body>
			<a class="btn btn-tn btn-warning" [routerLink]="'/paginas/' + routine + '/lista'">
				Voltar
			</a>
			<button type="submit" class="btn btn-tn btn-success float-right" [disabled]="submitting">
				{{ submitting ? 'Salvando' : 'Salvar' }}
			</button>
			<button type="button" class="btn btn-tn btn-primary mr-3 float-right" *ngIf="form.value.id" (click)="newRegister()">
				Novo
			</button>
		</nb-card-body>
	</nb-card>
</form>
