:host {
	::-webkit-inner-spin-button {
		display: none;
	}
	::-webkit-calendar-picker-indicator {
		margin-right: -12px;
	}
	::-webkit-calendar-picker-indicator,
	::-webkit-clear-button {
		cursor: pointer;
		margin-top: -5px;
		margin-bottom: -5px;

		padding-top: 7px;
		padding-right: 7px;
		padding-bottom: 7px;
		padding-left: 7px;
		display: inline-block;
		&:hover {
			background-color: #eee !important;
		}
	}
	.box-habilidade {
		text-align: center;
		z-index: 10;
		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			border: 1px solid #f5f5f5;
			top: -5px;
			left: 10px;
			right: 10px;
			bottom: 0px;
		}
		&--padding-bottom {
			padding-bottom: 7px;
		}
	}
}
