<nb-card>
	<nb-card-body>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4>{{ rotina }}</h4>
				<p>{{ classificacao }} > {{ rotina }} > {{ form.value.id ? 'Edição' : 'Cadastro' }}</p>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<form [formGroup]="form" (submit)="onSubmit()" novalidate>
	<nb-card>
		<nb-card-body class="overflow-visible">
			<div class="row">
				<div class="col-sm-6 form-group">
					<label class="required">Cargo:</label>

					<ng-select
						formControlName="CargoId"
						[class.form-control-danger]="cargoIdError.fieldDanger"
						(change)="errors.CargoId = false"
					>
						<ng-option *ngFor="let opcao of cargosOpcoes" [value]="opcao.key">{{ opcao.value }}</ng-option>
					</ng-select>

					<field-error
						#cargoIdError
						[submitted]="submitted"
						label="Cargo"
						[control]="form.controls['CargoId']"
						[error]="errors.CargoId"
					></field-error>
				</div>

				<div class="col-sm-12 form-group">
					<label class="required">Descrição:</label>

					<angular-editor formControlName="Descricao"></angular-editor>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Salário:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Salario"
						placeholder="Salário"
						[brmasker]="{ form: form.get('Salario'), money: true, decimal: 2, decimalCaracter: ',', thousand: '.' }"
						[class.form-control-danger]="salarioError.fieldDanger"
						(change)="errors.Salario = false"
					/>

					<field-error
						#salarioError
						[submitted]="submitted"
						label="Salário"
						[control]="form.controls['Salario']"
						[error]="errors.Salario"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Quantia de vagas:</label>

					<input
						type="number"
						class="form-control"
						formControlName="Vagas"
						placeholder="Quantia de vagas"
						[class.form-control-danger]="vagasError.fieldDanger"
						(change)="errors.Vagas = false"
					/>

					<field-error
						#vagasError
						[submitted]="submitted"
						label="Quantia de vagas"
						[control]="form.controls['Vagas']"
						[error]="errors.Vagas"
					></field-error>
				</div>

				<!-- <div class="col-sm-4 form-group">
					<label class="required">Saldo atual:</label>

					<input type="number" readonly disabled class="form-control" formControlName="Saldo"/>
				</div> -->
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body class="overflow-visible pb-2">
			<div class="row">
				<div class="col-sm-12">
					<h5>Requisitos</h5>
				</div>
				<div class="col-sm-12 form-group">
					<ng-select #selectHabilidades multiple="true" (change)="atualizaHabilidades($event)">
						<ng-option *ngFor="let opcao of habilidadesOpcoes" [value]="opcao">{{ opcao.value }}</ng-option>
					</ng-select>
				</div>

				<div class="col-sm-12" *ngIf="habilidadesEscolhidas.length">
					<h6 class="mt-2 mb-3">Níveis</h6>
				</div>

				<div class="col-sm-3 form-group box-habilidade" *ngFor="let opcao of habilidadesEscolhidas">
					<label>{{ opcao.value }}</label>

					<select class="form-control" (change)="gera_habilidades(opcao, opcao.Nivel, $event)">
						<option
							*ngFor="let tipoRequisito of tipoRequisitoOpcoes"
							[value]="tipoRequisito.key"
							[selected]="tipoRequisito['key'] == opcao['TipoRequisito'] ? true : null"
							>{{ tipoRequisito.value }}
						</option>
					</select>

					<div class="stars-container">
						<span
							*ngFor="let value of [1, 2, 3, 4, 5]"
							[class.ion-android-star]="opcao.Nivel >= value"
							[class.ion-android-star-outline]="opcao.Nivel < value"
							(click)="gera_habilidades(opcao, value)"
						></span>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body>
			<a class="btn btn-tn btn-warning" [routerLink]="'/paginas/' + routine + '/lista'">
				Voltar
			</a>
			<button type="submit" class="btn btn-tn btn-success float-right" [disabled]="submitting">
				{{ submitting ? 'Salvando' : 'Salvar' }}
			</button>
			<button type="button" class="btn btn-tn btn-primary mr-3 float-right" *ngIf="form.value.id" (click)="newRegister()">
				Novo
			</button>
		</nb-card-body>
	</nb-card>
</form>
