@import '../../styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	img {
		height: 35px;
		padding: 0 0.4rem;
	}

	.socials {
		//font-size: 2rem;

		a {
			padding: 0 0.2rem;
			color: nb-theme(color-fg);
			transition: color ease-out 0.1s;

			&:hover {
				color: nb-theme(color-fg-heading);
			}
		}
	}

	@include media-breakpoint-down(is) {
		.socials {
			//font-size: 1.5rem;
		}
	}
}
