// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {
	// framework global styles
	@include nb-theme-global();
	@include nb-auth-global();

	// loading progress bar
	@include ngx-pace-theme();

	// fixed in rc.9 and can be removed after upgrade
	.custom-control {
		cursor: pointer;
		&.custom-control-danger {
			.custom-control-description {
				color: nb-theme(color-danger);
			}
		}
		&:hover,
		.custom-control-input:checked ~ {
			.custom-control-indicator {
				border-color: nb-theme(color-info) !important;
			}
		}
		.custom-control-indicator {
			width: 18px;
			height: 18px;
			&:before {
				width: 12px !important;
				height: 12px !important;
				background-color: nb-theme(color-info) !important;
			}
		}
	}

	@include bootstrap-rtl();

	.language-modal {
		position: absolute;
		margin: 0;
		bottom: 0;
		right: 0;
		padding: 2px 2px;
		background-color: nb-theme(color-bg);
		border-top: 1px solid nb-theme(color-bg-active);
		border-left: 1px solid nb-theme(color-bg-active);
		border-radius: 4px 0 0 0;

		img {
			margin: 0 1px;
			padding: 0;
			width: 26px;
			height: 18px;
			border: 0;
			cursor: pointer;
		}
	}

	.top-bradcrumb {
		margin-bottom: 0px;
		.title-bradcrumb {
			p {
				font-size: nb-theme(font-size);
				font-style: nb-theme(font-secondary);
				color: nb-theme(color-disable);
				font-weight: 300;
				margin-bottom: 0px;
			}
		}
	}
}

//  TO-DO: REMOVER DEPOIS!!!!!! Colocar dentro do próprio componente
app-datagrid {
	ng2-smart-table.my-smart-table {
		.ng2-smart-actions {
			width: 120px;
		}
		.ng2-smart-actions-title-add {
			a {
				font-size: nb-theme(font-size) !important;
				padding: nb-theme(smart-table-filter-padding) !important;
				background-color: nb-theme(color-success) !important;
			}
		}
		tr {
			td:first-of-type,
			th:first-of-type {
				text-align: center;
				.form-control {
					text-align: center;
				}
			}
		}
		.icon-link {
			height: 100%;
			width: 100%;
			color: nb-theme(link-color);
			border: none;
			cursor: pointer;
			text-decoration: none;
			display: block;
			text-align: center;

			i {
				font-size: 32px;
			}
			&:hover {
				&.primary {
					color: nb-theme(color-primary) !important;
				}
			}
		}

		.ion-asterisk {
			font-size: 0.8rem;
			color: nb-theme(color-warning);
			margin-right: 8px;
		}
	}
}

select {
	&.form-control {
		padding: 0.5rem 1.125rem !important;
		height: auto !important;
	}
}

// NG-SELECT
.ng-dropdown-panel.ng-select-bottom {
	top: calc(100% + 2px) !important;
}
ng-select {
	.ng-select-container {
		border-radius: 0.2rem !important;
		border: 2px solid #dadfe6 !important;
		box-shadow: none !important;
	}
	&.form-control-danger {
		.ng-select-container {
			border-color: nb-theme(color-danger) !important;
		}
	}
	&.ng-select-opened,
	&.ng-select-focused {
		.ng-select-container {
			border-color: nb-theme(color-success) !important;
		}
	}
	&.ng-select-multiple {
		.ng-select-container {
			.ng-value-container {
				.ng-placeholder {
					padding-bottom: 0px;
					padding-top: 4px;
				}
			}
		}
	}
}
.nb-theme-corporate nb-spinner {
	z-index: 1;
}
.overflow-visible {
	overflow: visible !important;
}
.toast-top-right {
	top: 80px;
}
/deep/ {
	.toast-top-right {
		top: 80px;
	}

	label {
		&.required {
			&:before {
				content: '* ';
				display: inline-block;
				color: nb-theme(color-primary);
			}
		}
	}
}

label {
	&.required {
		&:before {
			content: '*';
			margin-right: 5px;
			display: inline-block;
			color: nb-theme(color-primary);
		}
	}
}

.stars-container {
	margin-top: -5px;
	span {
		font-size: 30px;
		cursor: pointer;
		margin-right: 3px;
		margin-left: 3px;
		color: nb-theme(color-info) !important;
	}
}
.btn {
	cursor: pointer;
}
