// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (corporate);


$nb-themes: nb-register-theme((
	// app wise variables for each theme
	sidebar-header-gap: 2rem,
	sidebar-header-height: initial,
	// sidebar-bg: #e3e9ee,
	// menu-bg: #e3e9ee,
	sidebar-bg: #fff,
	menu-bg: #fff,
	//layout-content-width: 1400px,

	font-main: Roboto,
	font-secondary: Roboto,

	color-primary: #c20a0a,
	color-primary-hover: #cb2c2c,
	color-success: #009900,

	// color-info: #73a1ff,
	color-info: #6699ff,
	color-warning: #ff6600,
	color-danger: #c20a0a,
	color-disable: #8A8A8C,
	color-secondary: #1a1262,

	// color-bg : #333,
	// scrollbar-fg: color-bg,
	// scrollbar-bg: color-bg,
	// layout-bg: color-bg,

	link-color: #14B694,
	link-color-hover: #8A8A8C,
	link-color-visited: link-color,

	header-bg: color-primary,
	header-fg: color-white,

	radius: 0.2rem,

	list-item-border-width: 1px,

	toaster-fg: color-white,
	toaster-success: color-success,
	toaster-info: color-info,
	toaster-warning: color-warning,
	toaster-wait: color-primary,
	toaster-error: color-danger,

	btn-border-radius: radius,

	switcher-background: #2b2d34,
	switcher-background-percentage: 14%,
	drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
), corporate, corporate);
