<nb-auth-block>
	<h2 class="title">Recuperar senha</h2>
	<small class="form-text sub-title">Digite seu e-mail para recuperar sua senha</small>
	<form (ngSubmit)="requestPass(requestPassForm)" #requestPassForm="ngForm">

		<div *ngIf="message && submitted" class="alert" [class.alert-danger]="typeMessage == 'danger'"
			[class.alert-success]="typeMessage == 'success'" role="alert">
			<div>
				<strong *ngIf="typeMessage == 'danger'">Erro na recuperação!</strong>
				<strong *ngIf="typeMessage == 'success'">Recuperação realizada com sucesso</strong>
			</div>

			<div>{{ message }}</div>
		</div>

		<div class="form-group">
			<input name="email" [(ngModel)]="email" #emailCampo="ngModel" class="form-control" placeholder="E-mail"
				pattern=".+@.+\..+" [class.form-control-danger]="emailCampo.invalid && emailCampo.touched" required
				autofocus>
			<small class="form-text error"
				*ngIf="emailCampo.invalid && emailCampo.touched && emailCampo.errors?.required">
				O campo e-mail é obrigatório
			</small>
			<small class="form-text error"
				*ngIf="emailCampo.invalid && emailCampo.touched && emailCampo.errors?.pattern">
				Por favor! Digite um e-mail válido
			</small>
		</div>

		<button class="btn btn-danger btn-block mt-5" [class.btn-pulse]="submitting">
			Recuperar senha
		</button>

		<div class="form-group accept-group col-sm-12 justify-content-center">
			<a class="forgot-password" routerLink="/auth/login">Voltar ao login</a>
		</div>
	</form>
</nb-auth-block>
