<div class="passos">
	<div class="passos__caixa" *ngFor="let passo of passos; let i = index; let ultimo = last">
		<div
			class="passos__item"
			[class.passos__item--ativo]="passo.Alias == etapa"
			[class.passos__item--futuro]="ordem[passo.Alias] > ordem[etapaAtual]"
			(click)="selecao(i, passo.Alias)"
		>
			<span class="passos__numero">{{ i + 1 }}</span>
			<div class="passos__nome">
				<span>{{ passo.Nome }}</span>
			</div>
		</div>
		<div class="passos__separador" [class.passos__separador--ativo]="ordem[passo.Alias] < ordem[etapaAtual]" *ngIf="!ultimo"></div>
	</div>
</div>
