@import '../../../@theme/styles/themes.scss';

:host {
	.passos {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__caixa {
			display: flex;
			&:not(:last-of-type) {
				flex: 1;
			}
		}

		&__item {
			width: 25px;
			margin: 0 14px;
			display: flex;
			align-items: center;
			flex-direction: column;
			cursor: pointer;

			&:hover {
				.passos__numero {
					transition: all 0.3s ease;
					background: rgba(200, 200, 200, 0.7);
				}
			}

			&--futuro {
				&.passos__item--ativo {
					.passos__numero {
						background: #999;
					}
				}

				.passos__numero {
					border: 2px solid #999;
				}

				.passos__nome {
					color: #888;
				}
			}

			&--ativo {
				.passos__numero {
					background: nb-theme(color-primary);
					color: #fff;
				}
			}
		}

		&__separador {
			background: #cccccc;
			flex: 1;
			height: 2px;
			align-self: flex-start;
			margin-top: 12px;

			&--ativo {
				background: nb-theme(color-primary);
			}
		}

		&__numero {
			transition: background 0.3s ease;
			background: rgba(200, 200, 200, 0);
			color: nb-theme(color-dark);
			width: 25px;
			height: 25px;
			line-height: 23px;
			text-align: center;
			border-radius: 50%;
			border: 2px solid nb-theme(color-primary);
			margin-bottom: 5px;
			display: inline-block;
			vertical-align: center;
			overflow: hidden;
		}

		&__nome {
			color: nb-theme(color-primary);
			width: max-content;
		}
	}
}
