<nb-card>
	<nb-card-body>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4>{{ rotina }}</h4>
				<p>{{ classificacao }} > {{ rotina }} > {{ form.value.id ? 'Edição' : 'Cadastro' }}</p>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<form [formGroup]="form" (submit)="onSubmit()" novalidate>
	<nb-card>
		<nb-card-body class="overflow-visible">
			<div class="row">
				<div class="col-sm-4 form-group">
					<label class="required">Nome:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Nome"
						placeholder="Nome"
						[class.form-control-danger]="nomeError.fieldDanger"
						(change)="errors.Nome = false"
					/>

					<field-error
						#nomeError
						[submitted]="submitted"
						label="Nome"
						[control]="form.controls['Nome']"
						[error]="errors.Nome"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">RG:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Rg"
						placeholder="RG"
						[class.form-control-danger]="rgError.fieldDanger"
						(change)="errors.Rg = false"
					/>

					<field-error #rgError [submitted]="submitted" label="RG" [control]="form.controls['Rg']" [error]="errors.Rg"></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">CPF:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Cpf"
						placeholder="CPF"
						[brmasker]="{ form: form.get('Cpf'), person: true, len: 14 }"
						maxlength="14"
						[class.form-control-danger]="telefoneError.fieldDanger"
						(change)="errors.Cpf = false"
					/>

					<field-error
						#telefoneError
						[submitted]="submitted"
						label="CPF"
						[control]="form.controls['Cpf']"
						[error]="errors.Cpf"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Data de Nascimento:</label>

					<input
						type="date"
						class="form-control"
						formControlName="Nascimento"
						placeholder="Data de Nascimento"
						[class.form-control-danger]="nascimentoError.fieldDanger"
						(change)="errors.Nascimento = false"
					/>

					<field-error
						#nascimentoError
						[submitted]="submitted"
						label="Data de Nascimento"
						[control]="form.controls['Nascimento']"
						[error]="errors.Nascimento"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Sexo:</label>

					<div class="row ml-0 mr-0">
						<label
							class="custom-control custom-radio"
							[class.custom-control-danger]="sexoError.fieldDanger"
							*ngFor="let opcao of sexoOpcoes"
						>
							<input
								type="radio"
								class="custom-control-input"
								formControlName="Sexo"
								[value]="opcao.key"
								(change)="errors.Sexo = false"
							/>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">{{ opcao.value }}</span>
						</label>
					</div>

					<field-error
						#sexoError
						[submitted]="submitted"
						label="Sexo"
						[control]="form.controls['Sexo']"
						[error]="errors.Sexo"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Telefone:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Telefone"
						placeholder="Telefone"
						[brmasker]="{ form: form.get('Telefone'), phone: true }"
						[class.form-control-danger]="telefoneError.fieldDanger"
						(change)="errors.Telefone = false"
					/>

					<field-error
						#telefoneError
						[submitted]="submitted"
						label="Telefone"
						[control]="form.controls['Telefone']"
						[error]="errors.Telefone"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">E-mail:</label>

					<input
						type="email"
						email
						class="form-control"
						formControlName="Email"
						placeholder="E-mail"
						[class.form-control-danger]="emailError.fieldDanger"
						(change)="errors.Email = false"
					/>

					<field-error
						#emailError
						[submitted]="submitted"
						label="E-mail"
						[control]="form.controls['Email']"
						[error]="errors.Email"
					></field-error>
				</div>

				<div class="col-sm-8 form-group">
					<label class="required">Endereço:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Endereco"
						placeholder="Endereço"
						[class.form-control-danger]="enderecoError.fieldDanger"
						(change)="errors.Endereco = false"
					/>

					<field-error
						#enderecoError
						[submitted]="submitted"
						label="Endereço"
						[control]="form.controls['Endereco']"
						[error]="errors.Endereco"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Ativo:</label>

					<div class="row ml-0 mr-0">
						<label
							class="custom-control custom-radio"
							[class.custom-control-danger]="ativoError.fieldDanger"
							*ngFor="let opcao of ativoOpcoes"
						>
							<input
								type="radio"
								class="custom-control-input"
								formControlName="Ativo"
								[value]="opcao.key"
								(change)="errors.Ativo = false"
							/>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">{{ opcao.value }}</span>
						</label>
					</div>

					<field-error
						#ativoError
						[submitted]="submitted"
						label="Ativo"
						[control]="form.controls['Ativo']"
						[error]="errors.Ativo"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Informações Válidas:</label>

					<div class="row ml-0 mr-0">
						<label
							class="custom-control custom-radio"
							[class.custom-control-danger]="validadoError.fieldDanger"
							*ngFor="let opcao of validadoOpcoes"
						>
							<input
								type="radio"
								class="custom-control-input"
								formControlName="Validado"
								[value]="opcao.key"
								(change)="errors.Validado = false"
							/>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">{{ opcao.value }}</span>
						</label>
					</div>

					<field-error
						#validadoError
						[submitted]="submitted"
						label="Informações Válidas"
						[control]="form.controls['Validado']"
						[error]="errors.Validado"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label class="required">Pessoa com Deficiência:</label>

					<div class="row ml-0 mr-0">
						<label
							class="custom-control custom-radio"
							[class.custom-control-danger]="pcdError.fieldDanger"
							*ngFor="let opcao of pcdOpcoes"
						>
							<input
								type="radio"
								class="custom-control-input"
								formControlName="Pcd"
								[value]="opcao.key"
								(change)="errors.Pcd = false"
							/>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">{{ opcao.value }}</span>
						</label>
					</div>

					<field-error
						#pcdError
						[submitted]="submitted"
						label="Pessoa com Deficiência"
						[control]="form.controls['Pcd']"
						[error]="errors.Pcd"
					></field-error>
				</div>

				<div class="col-sm-4 form-group" [hidden]="form.value.Pcd != 'S'">
					<label class="required">Deficiência:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Deficiencia"
						placeholder="Deficiência"
						[class.form-control-danger]="deficienciaError.fieldDanger"
						[required]="form.value.Pcd == 'S'"
						(change)="errors.Deficiencia = false"
					/>

					<field-error
						#deficienciaError
						[submitted]="submitted"
						label="Deficiência"
						[control]="form.controls['Deficiencia']"
						[error]="errors.Deficiencia"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label [class.required]="!form.value.id">{{ form.value.id ? 'Nova senha' : 'Senha' }}:</label>

					<input
						autocomplete="off"
						type="password"
						class="form-control"
						formControlName="Senha"
						[placeholder]="form.value.id ? 'Nova senha' : 'Senha'"
						[required]="!form.value.id"
						[class.form-control-danger]="senhaError.fieldDanger"
						(change)="errors.Senha = false"
					/>

					<field-error
						#senhaError
						[submitted]="submitted"
						[label]="form.value.id ? 'Nova senha' : 'Senha'"
						[control]="form.controls['Senha']"
						[error]="errors.Senha"
					></field-error>
				</div>

				<div class="col-sm-4 form-group">
					<label [class.required]="!!form.value.Senha">Confirmar Senha:</label>

					<input
						autocomplete="new-password"
						type="password"
						class="form-control"
						formControlName="ConfirmaSenha"
						placeholder="Confirmar Senha"
						[required]="!!form.value.Senha"
						[class.form-control-danger]="confirmaSenhaError.fieldDanger"
						(change)="errors.ConfirmaSenha = false"
					/>

					<field-error
						#confirmaSenhaError
						[submitted]="submitted"
						label="Confirmar Senha"
						[control]="form.controls['ConfirmaSenha']"
						[error]="
							errors.ConfirmaSenha
								? errors.ConfirmaSenha
								: form.value.ConfirmaSenha != form.value.Senha && (form.value.ConfirmaSenha || form.value.Senha) && submitted
								? 'As senhas não coincidem'
								: false
						"
					>
					</field-error>
				</div>

				<div class="col-sm-6 form-group">
					<label>Anotações do candidato: <small>(somente leitura)</small></label>
					<textarea formControlName="Complemento" readonly class="form-control" placeholder="Anotações do candidato"></textarea>
				</div>

				<div class="col-sm-6 form-group">
					<label>Observações sobre o candidato:</label>
					<textarea formControlName="Observacoes" class="form-control" placeholder="Observações sobre o candidato"></textarea>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body class="overflow-visible">
			<div class="row align-items-center">
				<div class="col-sm-8">
					<h5 class="mb-0">Formação acadêmica</h5>
				</div>
				<div class="col-sm-4">
					<button type="button" class="btn btn-tn btn-info float-right" (click)="gera_escolaridades()">
						Adicionar
					</button>
				</div>
			</div>
			<div formArrayName="Escolaridades" *ngFor="let item of form.get('Escolaridades')['controls']; let i = index">
				<hr class="mb-4" />
				<div class="row" [formGroupName]="i">
					<div class="col-sm-4 form-group">
						<label class="required">Curso:</label>

						<ng-select
							formControlName="CursoId"
							[class.form-control-danger]="form.controls['Escolaridades'].controls[i].controls.CursoId.errors && submitted"
							[items]="cursosOpcoes"
							bindLabel="value"
							bindValue="key"
						>
							<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
								<div [ngOptionHighlight]="search">{{ item.value }}</div>
								<div>
									<small>{{ item.GrauEscolaridade.GrauEscolaridade }}</small>
								</div>
							</ng-template>
						</ng-select>

						<field-error
							#cargoIdError
							[submitted]="submitted"
							label="Curso"
							[control]="form.controls['Escolaridades'].controls[i].controls.CursoId"
						></field-error>
					</div>

					<div class="col-sm-5 form-group">
						<label class="required">Instituição:</label>

						<input
							type="text"
							formControlName="Instituicao"
							placeholder="Instituição"
							class="form-control"
							[class.form-control-danger]="form.controls['Escolaridades'].controls[i].controls.Instituicao.errors && submitted"
						/>

						<field-error
							#empresaError
							[submitted]="submitted"
							label="Instituição"
							[control]="form.controls['Escolaridades'].controls[i].controls.Instituicao"
						></field-error>
					</div>
					<div class="col-sm-3 form-group">
						<label class="required">Período de estudo:</label>

						<ng-select
							formControlName="Periodo"
							[class.form-control-danger]="form.controls['Escolaridades'].controls[i].controls.Periodo.errors && submitted"
						>
							<ng-option *ngFor="let opcao of periodoExperienciaOpcoes" [value]="opcao.key"> {{ opcao.value }}</ng-option>
						</ng-select>

						<field-error
							#periodoEstudoError
							[submitted]="submitted"
							label="Período de estudo"
							[control]="form.controls['Escolaridades'].controls[i].controls.Periodo"
						></field-error>
					</div>
					<div class="col-sm-3 form-group">
						<label class="required">Estudou de:</label>

						<input
							type="date"
							formControlName="Inicio"
							placeholder="Estudou de"
							class="form-control"
							[class.form-control-danger]="form.controls['Escolaridades'].controls[i].controls.Inicio.errors && submitted"
						/>

						<field-error
							#inicioError
							[submitted]="submitted"
							label="Estudou de"
							[control]="form.controls['Escolaridades'].controls[i].controls.Inicio"
						></field-error>
					</div>
					<div class="col-sm-3 form-group">
						<label class="required">Até:</label>

						<input
							type="date"
							formControlName="Termino"
							placeholder="Até"
							class="form-control"
							[class.form-control-danger]="form.controls['Escolaridades'].controls[i].controls.Termino.errors && submitted"
						/>

						<field-error
							#terminoError
							[submitted]="submitted"
							label="Até"
							[control]="form.controls['Escolaridades'].controls[i].controls.Termino"
						></field-error>
					</div>

					<div class="col-sm-6 align-self-center">
						<span class="text-danger c-pointer float-right" (click)="removeAt(form.get('Escolaridades'), i)">Remover formação</span>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body class="overflow-visible">
			<div class="row align-items-center">
				<div class="col-sm-8">
					<h5 class="mb-0">Experiências profissionais</h5>
				</div>
				<div class="col-sm-4">
					<button type="button" class="btn btn-tn btn-info float-right" (click)="gera_experiencias()">
						Adicionar
					</button>
				</div>
			</div>
			<div formArrayName="Experiencias" *ngFor="let item of form.get('Experiencias')['controls']; let i = index">
				<hr class="mb-4" />
				<div class="row" [formGroupName]="i">
					<div class="col-sm-4 form-group">
						<label class="required">Cargo:</label>

						<ng-select
							formControlName="CargoId"
							[class.form-control-danger]="form.controls['Experiencias'].controls[i].controls.CargoId.errors && submitted"
						>
							<ng-option *ngFor="let opcao of cargosOpcoes" [value]="opcao.key">{{ opcao.value }} </ng-option>
						</ng-select>

						<field-error
							#cargoIdError
							[submitted]="submitted"
							label="Cargo"
							[control]="form.controls['Experiencias'].controls[i].controls.CargoId"
						></field-error>
					</div>

					<div class="col-sm-5 form-group">
						<label class="required">Empresa:</label>

						<input
							type="text"
							formControlName="Empresa"
							placeholder="Empresa"
							class="form-control"
							[class.form-control-danger]="form.controls['Experiencias'].controls[i].controls.Empresa.errors && submitted"
						/>

						<field-error
							#empresaError
							[submitted]="submitted"
							label="Empresa"
							[control]="form.controls['Experiencias'].controls[i].controls.Empresa"
						></field-error>
					</div>
					<div class="col-sm-3 form-group">
						<label class="required">Período de trabalho:</label>

						<ng-select
							formControlName="Periodo"
							[class.form-control-danger]="form.controls['Experiencias'].controls[i].controls.Periodo.errors && submitted"
						>
							<ng-option *ngFor="let opcao of periodoExperienciaOpcoes" [value]="opcao.key"> {{ opcao.value }}</ng-option>
						</ng-select>

						<field-error
							#periodoError
							[submitted]="submitted"
							label="Período de trabalho"
							[control]="form.controls['Experiencias'].controls[i].controls.Periodo"
						></field-error>
					</div>
					<div class="col-sm-3 form-group">
						<label class="required">Duração da Jornada:</label>

						<input
							type="number"
							formControlName="Jornada"
							placeholder="Quantia de Horas"
							class="form-control"
							[class.form-control-danger]="form.controls['Experiencias'].controls[i].controls.Jornada.errors && submitted"
						/>

						<field-error
							#jornadaError
							[submitted]="submitted"
							label="Duração da Jornada"
							[control]="form.controls['Experiencias'].controls[i].controls.Jornada"
						></field-error>
					</div>
					<div class="col-sm-3 form-group">
						<label class="required">Trabalhou de:</label>

						<input
							type="date"
							formControlName="Entrada"
							placeholder="Trabalhou de"
							class="form-control"
							[class.form-control-danger]="form.controls['Experiencias'].controls[i].controls.Entrada.errors && submitted"
						/>

						<field-error
							#inicioError
							[submitted]="submitted"
							label="Trabalhou de"
							[control]="form.controls['Experiencias'].controls[i].controls.Entrada"
						></field-error>
					</div>
					<div class="col-sm-3 form-group">
						<label [class.required]="!form.controls['Experiencias'].controls[i].value.Atualmente">Até:</label>
						<label class="ml-2"
							><input type="checkbox" formControlName="Atualmente" (change)="toggleEnabledSaida(i)" /> Atualmente</label
						>

						<input
							type="date"
							formControlName="Saida"
							placeholder="Até"
							class="form-control"
							[class.form-control-danger]="form.controls['Experiencias'].controls[i].controls.Saida.errors && submitted"
							[required]="!form.controls['Experiencias'].controls[i].value.Atualmente"
							[hidden]="form.controls['Experiencias'].controls[i].value.Atualmente"
						/>

						<field-error
							#saidaError
							[submitted]="submitted"
							label="Até"
							[control]="form.controls['Experiencias'].controls[i].controls.Saida"
						></field-error>
					</div>
					<div class="col-sm-3 align-self-center">
						<span class="text-danger c-pointer float-right" (click)="removeAt(form.get('Experiencias'), i)">Remover experiência</span>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body class="overflow-visible pb-2">
			<div class="row">
				<div class="col-sm-12">
					<h5>Habilidades</h5>
				</div>
				<div class="col-sm-12 form-group">
					<ng-select #selectHabilidades multiple="true" (change)="atualizaHabilidades($event)">
						<ng-option *ngFor="let opcao of habilidadesOpcoes" [value]="opcao">{{ opcao.value }}</ng-option>
					</ng-select>
				</div>

				<div class="col-sm-12" *ngIf="habilidadesEscolhidas.length">
					<h6 class="mt-2 mb-3">Níveis</h6>
				</div>

				<div class="col-sm-3 form-group box-habilidade" *ngFor="let opcao of habilidadesEscolhidas">
					<label>{{ opcao.value }}</label>

					<div class="stars-container">
						<span
							*ngFor="let value of [1, 2, 3, 4, 5]"
							[class.ion-android-star]="opcao.Nivel >= value"
							[class.ion-android-star-outline]="opcao.Nivel < value"
							(click)="gera_habilidades(opcao, value)"
						></span>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body>
			<div class="row" formGroupName="RedesSociais">
				<div class="col-sm-12">
					<h5>Redes sociais</h5>
				</div>

				<div class="col-sm-4 form-group" *ngFor="let opcao of redesSociaisOpcoes">
					<label>{{ opcao.value }}:</label>

					<input
						type="text"
						class="form-control"
						[formControlName]="opcao.key"
						placeholder="Url do perfil nessa rede"
						maxlength="200"
					/>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body>
			<a class="btn btn-tn btn-warning" [routerLink]="'/paginas/' + routine + '/lista'">
				Voltar
			</a>
			<button type="submit" class="btn btn-tn btn-success float-right" [disabled]="submitting">
				{{ submitting ? 'Salvando' : 'Salvar' }}
			</button>
			<button type="button" class="btn btn-tn btn-primary mr-3 float-right" *ngIf="form.value.id" (click)="newRegister()">
				Novo
			</button>
		</nb-card-body>
	</nb-card>
</form>
