<nb-card>
	<nb-card-body>
		<div class="row top-bradcrumb">
			<div class="col-sm-8 title-bradcrumb">
				<h4>{{ rotina }}</h4>
				<p>{{ classificacao }} > {{ rotina }} > {{ form.value.id ? 'Edição' : 'Cadastro' }}</p>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<form [formGroup]="form" (submit)="onSubmit()" novalidate>
	<nb-card>
		<nb-card-body class="overflow-visible">
			<div class="row">
				<div class="col-sm-6 form-group">
					<label class="required">Grau de escolaridade:</label>

					<ng-select
						formControlName="GrauEscolaridadeId"
						[class.form-control-danger]="grauEscolaridadeIdError.fieldDanger"
						(change)="errors.GrauEscolaridadeId = false"
					>
						<ng-option *ngFor="let opcao of grauEscolaridadeOpcoes" [value]="opcao.key">{{ opcao.value }}</ng-option>
					</ng-select>

					<field-error
						#grauEscolaridadeIdError
						[submitted]="submitted"
						label="Grau de escolaridade"
						[control]="form.controls['GrauEscolaridadeId']"
						[error]="errors.GrauEscolaridadeId"
					></field-error>
				</div>

				<div class="col-sm-6 form-group">
					<label class="required">Curso:</label>

					<input
						type="text"
						class="form-control"
						formControlName="Curso"
						placeholder="Curso"
						[class.form-control-danger]="cursoError.fieldDanger"
						(change)="errors.Curso = false"
					/>

					<field-error
						#cursoError
						[submitted]="submitted"
						label="Curso"
						[control]="form.controls['Curso']"
						[error]="errors.Curso"
					></field-error>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-body>
			<a class="btn btn-tn btn-warning" [routerLink]="'/paginas/' + routine + '/lista'">
				Voltar
			</a>
			<button type="submit" class="btn btn-tn btn-success float-right" [disabled]="submitting">
				{{ submitting ? 'Salvando' : 'Salvar' }}
			</button>
			<button type="button" class="btn btn-tn btn-primary mr-3 float-right" *ngIf="form.value.id" (click)="newRegister()">
				Novo
			</button>
		</nb-card-body>
	</nb-card>
</form>
