<nb-auth-block>
	<div class="logo-container"><img src="assets/images/recruitment.svg" class="logo" /></div>

	<small class="form-text sub-title">Olá! Para logar entre com seu e-mail e senha.</small>

	<form (ngSubmit)="login(form)" #form="ngForm" autocomplete="nope">

		<div *ngIf="showMessages.error && errors && errors.length > 0" class="alert alert-danger" role="alert">
			<div><strong>Oh não!</strong></div>
			<div *ngFor="let error of errors">{{ error }}</div>
		</div>

		<div class="form-group">
			<label for="input-email" class="sr-only"></label>
			<input name="email" [(ngModel)]="user.Email" id="input-email" pattern=".+@.+\..+" class="form-control"
				placeholder="E-mail" #email="ngModel" [class.form-control-danger]="email.invalid && email.touched"
				autofocus [required]="true">
			<small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
				O campo e-mail é obrigatório
			</small>
			<small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
				Por favor, digite um e-mail válido
			</small>
		</div>

		<div class="form-group">
			<label for="input-password" class="sr-only">Senha</label>
			<input name="password" [(ngModel)]="user.Senha" type="password" id="input-password" class="form-control"
				placeholder="Senha" #password="ngModel"
				[class.form-control-danger]="password.invalid && password.touched" [required]="true">
			<small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
				O campo senha é obrigatório
			</small>
		</div>

		<button class="btn btn-block mt-5 btn-primary" [class.btn-pulse]="submitted">Entrar</button>

		<div class="form-group accept-group col-sm-12 justify-content-center">
			<a class="forgot-password" routerLink="/auth/request-password">Esqueceu a senha?</a>
		</div>

	</form>
</nb-auth-block>
